.header{
    // position: fixed;
    width: 122px;
    height: 36px;
    left: 3.5%;
    top: 70px;

    font-family: Sulphur Point;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    color: #000;
    font-family: 'Sulphur Point', sans-serif;
    z-index: 3;
}