
    
    pre{
          position: absolute;
          width: 642px;
          height: 114px;
          left: 639px;
          top: 100px;

          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 96.5%;
          /* or 35px */

          text-align: center;
          color: #2EC4B6;   

    }

