* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section{
    height: 100vh;
   padding: 20px;  
}

.text{
    color: #f5cb5c;
}


.home {
    background-color: #fff;         
    color: black;
    font-family: Sulphur Point;
    .intro{
     margin-left: 13%;
     margin-top: 6%;
     font-size: 1.2vw;
}
    .navigation{
     margin-top: 10%;
     // margin-left: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     
         .homeh2{
          color: black;
          font-size: 7vw;
          margin: 2%;
         }
         .homeh2:hover{
              color: #7fff00;
          transition: 300ms;
         }
    }
    .logo{
     //     position: fixed;
         font-size: 1.5vw;
         left: 50%;

         text-decoration: none;
         color: inherit;
     //     background-color: black;
     //     color: white;
         margin-top: 4%;
         margin-left: 1%;

         .logo:hover{
          color: #ff1493;
     }
    }
    h5{
         font-size: 4vw;
         color: #ffffff;
    }
    
}
.websites {
    background-color: #708d81;     
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 3.5vw;

    .cardContainer{
         margin-top: -6%;

         display: flex;
         align-items: baseline;
         justify-content: center;
    }
    .websitesh{
          margin-left: 13%;
          margin-top: 7%;
          font-size: 5vw;

    }
    .card{
         margin: 1%;
         font-size: 1vw;
         height: auto;
         width: 500px;
         background-color: white;
         border-radius: 5px;
          font-family: Sulphur Point;

          .img_container{
               .myimg{
                    width: 100%;
                    object-fit:cover;
                    border-radius: 10px;
                  }
      }
      .card_actions{
           display: flex;
           justify-content: space-between;
           padding: 2%;
           .card_button{
                padding: 0px 50px;
           }
      }
    }
}
.apps {
    background-color: #f4d58d;
    font-family: 'Bungee Shade', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    .appsh{
         font-size: 10vw;
    }
    .appsp{
         font-size: 3vw;
    }
}
.designs {
    background-color: #ffff;
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .designsh{
         font-size: 8vw;
    }
    .designsp{
         font-size: 2vw;
    }
}
.footer {
    background-color: #8d0801;
    font-family: 'Oregano', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    color: #ffffff;
    .footerh{
         font-size: 8vw;
    }
    .footerp{
         font-size: 3vw;
    }
}

.fonts{
    font-family: 'Bungee Shade', cursive;

    font-family: 'Chelsea Market', cursive;

    font-family: 'Oregano', cursive;

    font-family: 'Sansita Swashed', cursive;

    font-family: 'Zilla Slab Highlight', cursive;
}