* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text{
    color: #f5cb5c;
}








.home {
     a{
          color: black;
     }

    background-color: #fff;    
    color: black;
    font-family: Sulphur Point;
    .intro{
     margin-left: 13%;
     margin-top: 6%;
     font-size: 1.2vw;
}
    .navigation{
     margin-top: 10%;
     // margin-left: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     
         .homeh2{
          color: black;
          font-size: 7vw;
          margin: 2%;
         }
         .homeh2:hover{
              color: #7fff00;
          transition: 300ms;
         }
    }

    .logo{
         font-size: 1.5vw;
         left: 50%;
         margin-top: 4%;
         margin-left: 1%;
         .logo:hover{
          color: #ff1493;
     }
    }
    h5{
         font-size: 4vw;
         color: #ffffff;
    }
    
}

.websites {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    background-color: #fff;     
     font-family: Sulphur Point;
    font-family: 'Bungee Shade', cursive;

    font-size: 3.5vw;

   
    .websitesh{
          font-size: 5vw;
    }
    
}
.apps {
//     background-color: #f4d58d;
    background-color: #fff;
    font-family: 'Bungee Shade', cursive;
// font-family: Sulphur Point;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    .appsh{
         font-size: 5vw;
    }
    .appsp{
         font-size: 3vw;
    }
}
.designs {
    background-color: #fff;
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .designsh{
         font-size: 5vw;
    margin-top: 0vh;

    }
    .designsp{
         font-size: 2vw;
    }
}
.footer {
    background-color: #000;
    font-family: 'Oregano', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    color: #ffffff;
    .footerh{
         font-size: 8vw;
    }
    .footerp{
         font-size: 3vw;
    }
}

.fonts{
    font-family: 'Bungee Shade', cursive;

    font-family: 'Chelsea Market', cursive;

    font-family: 'Oregano', cursive;

    font-family: 'Sansita Swashed', cursive;

    font-family: 'Zilla Slab Highlight', cursive;
}