// @import "header";
// @import "home";
// @import "nav";
@import "structure";
@import "header";
@import "navigator";

* {
     box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
     // height: 150vh;
     margin: 0;
     // background-color: #242423;
}

section{
     height: 100vh;
    padding: 20px;
}


