* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.text {
  color: #f5cb5c;
}

.home {
  background-color: #fff;
  color: black;
  font-family: Sulphur Point;
}

.home a {
  color: black;
}

.home .intro {
  margin-left: 13%;
  margin-right: 12%;
  margin-top: 6%;
  font-size: 1.2vw;
}

.home .navigation {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .navigation .homeh2 {
  color: black;
  font-size: 7vw;
  margin: 2%;
}

.home .navigation .homeh2:hover {
  color: #7fff00;
}

.home .logo {
  font-size: 1.5vw;
  left: 50%;
  margin-top: 4%;
  margin-left: 1%;
}

.home .logo .logo:hover {
  color: #ff1493;
}

.home h5 {
  font-size: 4vw;
  color: #ffffff;
}

.websites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  font-family: Sulphur Point;
  font-family: Sulphur Point;
  font-size: 3.5vw;
}

.websites .websitesh {
  font-size: 5vw;
}

.apps {
  background-color: #fff;
  font-family: Sulphur Point;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5vw;
}

.apps .appsh {
  font-size: 5vw;
}

.apps .appsp {
  font-size: 3vw;
}

.designs {
  background-color: #fff;
  font-family: Sulphur Point;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designs .designsh {
  font-size: 5vw;
  margin-top: 0vh;
}

.designs .designsp {
  font-size: 2vw;
}

.footer {
  background-color: #000;
  font-family: Sulphur Point;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  color: #ffffff;
}

.footer .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social_links .links {
  margin: 4%;
}

.footer .footerh {
  font-size: 2vw;
}

.footer .footerp {
  font-size: 3vw;
}

.fonts {
  font-family: 'Bungee Shade', cursive;
  font-family: 'Chelsea Market', cursive;
  font-family: 'Oregano', cursive;
  font-family: 'Sansita Swashed', cursive;
  font-family: 'Zilla Slab Highlight', cursive;
}

.header {
  width: 122px;
  height: 36px;
  left: 3.5%;
  top: 70px;
  font-family: Sulphur Point;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000;
  font-family: 'Sulphur Point', sans-serif;
  z-index: 3;
}

.navigator {
  position: -webkit-sticky;
  position: sticky;
  background-color: #c4c4c4;
  height: 30vh;
}

.navigator .header {
  top: 20%;
  left: 20%;
}

.navbar {
  margin-left: 95vw;
  top: 5;
  width: 5rem;
  height: 5vh;
  position: fixed;
  background-color: wheat;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.navbar_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trigger {
  display: block;
}

.trigger:hover {
  display: none;
}

.nav_item {
  width: 100%;
}

.nav_item:last-child {
  margin-top: auto;
}

.link_text {
  color: black;
  display: none;
}

.navbar:hover {
  height: 15vh;
  width: 10rem;
}

.navbar:hover .link_text {
  display: block;
}

.card {
  margin: 1%;
  font-size: 1vw;
  height: auto;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  font-family: Sulphur Point;
}

.card .img_container .myimg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card .card_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.card .card_actions .card_button {
  padding: 0px 50px;
}

.cardContainer {
  margin-top: -6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  text-decoration: none;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:hover {
  background-color: #c4c4c4;
}

.design_card_container {
  margin-top: -5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-left: 5%;
  scrollbar-color: #000 #e6e6e6;
  scrollbar-width: thin;
}

.design_card_container .card {
  margin-left: 3%;
  margin-right: 5%;
  font-size: 1vw;
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 1px;
  font-family: Sulphur Point;
}

.design_card_container .card .img_container .myimg {
  width: 20vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.design_card_container .card .card_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.design_card_container .card .card_actions .card_button {
  padding: 0px 20px;
}

.design_card_container::-webkit-scrollbar {
  height: 4px;
}

.design_card_container:hover::-webkit-scrollbar {
  height: 8px;
}

.design_card_container::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

.design_card_container:hover::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .home .intro {
    margin-left: 7%;
    margin-top: 10%;
    font-size: 5vw;
    letter-spacing: 0.1px;
    font-weight: 600;
    line-height: 25px;
  }
  .home .navigation {
    line-height: 400%;
    margin-left: 7%;
    margin-top: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-weight: 900;
  }
  .home .navigation .homeh2 {
    font-size: 14vw;
    margin-bottom: 1%;
    margin-left: 0%;
  }
  .home .logo {
    font-size: 6vw;
    margin-top: 5%;
    margin-left: 3%;
  }
  .websites {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 3.5vw;
  }
  .websites .websitesh {
    font-size: 8vw;
    margin-bottom: 4vh;
  }
  .card {
    margin-left: 0.4%;
    font-size: 5vw;
    width: 98vw;
  }
  .cardContainer {
    margin-right: 1%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .apps {
    height: auto;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.5vw;
  }
  .apps .appsh {
    text-align: center;
    font-size: 8vw;
    margin-bottom: 4vh;
  }
  .designs {
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .designs .designsh {
    font-size: 8vw;
    margin-top: 0vh;
    margin-bottom: 4vh;
  }
  .design_card_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    grid-gap: 10px;
    margin-top: 0;
    margin-left: 2%;
  }
  .design_card_container .card {
    margin-left: 0%;
    font-size: 5vw;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 1px;
    font-family: Sulphur Point;
  }
  .design_card_container .card .img_container .myimg {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .design_card_container .card .card_actions {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0%;
  }
  .design_card_container .card .card_actions .card_button {
    font-size: 3vw;
    width: auto;
    padding: 8px 5%;
  }
}

@media only screen and (max-width: 1100px) {
  .home .intro {
    margin-top: 10%;
    font-size: 2vw;
    letter-spacing: 0.1px;
    font-weight: 300;
    line-height: 30px;
  }
  .home .navigation {
    line-height: 600%;
    margin-left: 7%;
    margin-top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 900;
  }
  .home .navigation .homeh2 {
    font-size: 10vw;
    margin-bottom: 1%;
    margin-left: 0%;
  }
  .home .logo {
    font-size: 3vw;
    margin-top: 5%;
    margin-left: 3%;
  }
  .websites {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 3.5vw;
  }
  .websites .websitesh {
    font-size: 8vw;
    margin-bottom: 10vh;
  }
  .apps {
    height: auto;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.5vw;
  }
  .apps .appsh {
    text-align: center;
    font-size: 8vw;
    margin-bottom: 10vh;
    margin-top: 0vh;
  }
  .designs {
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .designs .designsh {
    font-size: 8vw;
    margin-bottom: 10vh;
    margin-top: 20vh;
  }
  .card {
    margin-left: 0.4%;
    font-size: 5vw;
    width: 60vw;
  }
  .cardContainer {
    margin-right: 1%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .design_card_container {
    margin-top: -5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    margin-left: 50%;
    margin-right: 8%;
    scrollbar-color: #000 #e6e6e6;
    scrollbar-width: thin;
  }
  .design_card_container .card {
    margin-left: 1%;
    font-size: 2vw;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 1px;
  }
  .design_card_container .card .img_container .myimg {
    width: 30vw;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .design_card_container .card .card_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2%;
  }
  .design_card_container .card .card_actions .card_button {
    padding: 5px 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

section {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */