// @import "header";
// @import "home";
// @import "nav";
@import "structure";
@import "header";
@import "navigator";
@import "card";
@import "gallery";
@import "responsive";
@import "mid_responsive";





* {
     box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
}

body {
     // height: 150vh;
     margin: 0;
     // background-color: #242423;
}

section{
     height: 100vh;
//     padding: 20px;
}